:root {
  --bg-color: #050505;
  --panel-bg-color: #111;
  --text-color: #f4f4f4;
  --link-color: #ffb843;
  --link-color-hover: #ffe5b0;
}

.inverted {
  --bg-color: #fafafa;
  --panel-bg-color: #f4f4f4;
  --text-color: #1c1c1c;
  --link-color: #9e6a12;
  --link-color-hover: #e9a332;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 1.14rem;
  margin: 0;
}

h2 {
  font-size: 1.07rem;
  margin: 0;
}

button {
  margin: 0 5px;
}

select {
  margin-right: 10px;
}

label {
  display: block;
}

input {
  accent-color: var(--link-color);
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
}

input.vertical {
  direction: rtl;
  display: inline-block;
  height: 130px;
  width: 30px;
  writing-mode: vertical-lr; 
}

.state {
  color: #aaa;
  display: none;
  font-size: 9px;
  font-family: monospace;
  margin-top: 10px;
  word-break: break-all;
}

.hidden {
  display: none;
}

.app-header {
  display: flex;
  align-items: center;
}

.app-header h1 {
  flex-grow: 1;
}

.canvas-container {
  position: fixed;
  inset: 0;
}

#Canvas {
  aspect-ratio: 1;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 72vh;
}

.control-container {
  backdrop-filter: blur(16px);
  background-color: color-mix(in srgb, var(--panel-bg-color) 70%, transparent);
  box-sizing: border-box;
  margin-top: 72vh;
  padding: 20px 10px;
  position: relative;
}

.controls {
  margin-top: 10px;
  margin-bottom: 10px;
}
.controls.offset {
  margin-bottom: 20px;
}

.controls header {
  margin-bottom: 10px;
}

.links svg {
  width: 1.14rem;
  height: 1.14rem;
}

@media screen and (min-width: 768px) {
  .canvas-container {
    right: 240px;
  }

  .control-container {
    backdrop-filter: none;
    margin-top: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    width: 240px;
  }

  #Canvas {
    max-height: 100vh;
  }
}
